<div>
    <p>Đăng nhập: </p>
    <button type="button" class="btn btn-light"><a
            href="http://159.223.56.85/api/auth/login">http://159.223.56.85/api/auth/login</a></button>
    <br>
    <p>Đăng ký: </p>
    <button type="button" class="btn btn-light"><a href="http://159.223.56.85/api/auth/register">
            http://159.223.56.85/api/auth/register</a></button>
    <br>
    <p>Đăng nhập: </p>
    <button type="button" class="btn btn-light"><a
            href="http://159.223.56.85/api/sensors/">http://159.223.56.85/api/sensors</a></button>
    <br>
    <p>Đăng nhập: </p>
    <button type="button" class="btn btn-light"><a
            href="http://159.223.56.85/api/getAllsensors">http://159.223.56.85/api/getAllsensors</a></button>
</div>